<!--  lw:blockstart mainlist -->
<ul>
	<!-- lw:var tree -->
</ul>
<!--  lw:blockend mainlist -->

<!--  lw:blockstart noentries -->
<div>There is no Navigation entry available!</div>
<!--  lw:blockend noentries -->

<!--  lw:blockstart openlayer -->
<ul>
<!--  lw:blockend openlayer -->

<!--  lw:blockstart closelayer -->
</ul>
<!--  lw:blockend closelayer -->

<!--  lw:blockstart openentry -->
<li id="{_id_}">
<!--  lw:blockend openentry -->

<!--  lw:blockstart closeentry -->
</li>
<!--  lw:blockend closeentry -->